<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitNest"
        tools:targetApi="31">
        <activity
            android:name=".MealPlanSample"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".DataCollectionOne"
            android:exported="false" />
        <activity
            android:name=".codePage"
            android:exported="false" />
        <activity
            android:name=".verifiyAccount"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".PageLogin"
            android:exported="false" />
        <activity
            android:name=".LoginApp"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".FrogetPassword"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".OnBoardingScreen3"
            android:exported="false" /> <!-- MainActivity first -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LaunchScreen comes after MainActivity -->
        <activity
            android:name=".LaunchScreen"
            android:exported="false" /> <!-- OnBoarding Screen -->
        <activity
            android:name=".OnBoardingScreen1"
            android:exported="false" />
        <activity
            android:name=".OnBoardingScreen2"
            android:exported="false" />
    </application>

</manifest>